PROJECT_NAME="PROJECT_NAME"
SECRET_KEY="SECRET_KEY"
DEBUG=0
TIME_ZONE="Europe/Moscow"

SQL_DATABASE="SQL_DATABASE"
SQL_USER="SQL_USER"
SQL_PASSWORD="SQL_PASSWORD"
SQL_HOST="SQL_HOST"
SQL_PORT=5432

REDIS_HOST="REDIS_HOST"
REDIS_PORT=6379
REDIS_DB=0

URL_SOURCE_1="URL_SOURCE_1"
URL_SOURCE_2="URL_SOURCE_2"